#include "corne_xiao_v2.dtsi"

&spi2 {
    status = "okay";

    nice_view_spi: nice_view_spi@0 {
        compatible = "nice_view,display";
        reg = <0>;
        spi-max-frequency = <8000000>;

        ls0xx@0 {
            compatible = "nice,ls0xx";
            reg = <0 0 0>;
        };
    };
};

&kscan0 {
    col-gpios
        = <&gpio0 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 10 GPIO_ACTIVE_HIGH>
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>
        , <&xiao_d 8 GPIO_ACTIVE_HIGH>
        , <&xiao_d 6 GPIO_ACTIVE_HIGH>
        , <&xiao_d 7 GPIO_ACTIVE_HIGH>
        ;
};

&left_encoder {
    status = "okay";
};
